body {
    // background
    background-color: #606e7b;
    // background-image: url('/assets/background-carbon2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    // font
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
